@charset "UTF-8";

// UTILITIES
@import "utilities/custom-properties";

// BASE STYLES
// BASE STYLES
@import "base/01-sections";
@import "base/02-headings";
@import "base/03-grouping";
@import "base/04-text-level";
@import "base/05-embedded";
@import "base/06-tables";
@import "base/07-forms";
@import "base/08-interactive";

// COMPONENTS
@import "components/social-icons";
@import "components/typography";

// LAYOUTS
@import "layouts/grids";
@import "layouts/print";

