//  =====================================================
//  HTML Living Standard
//  Text-level semantics elements
//  https://html.spec.whatwg.org/multipage/text-level-semantics.html
//  a, em, strong, small, s, cite, q, dfn, abbr, ruby, rb, rt, rtc, rp, data, time, code, var, samp, kdb, sub, sup, i, b, u, mark, bdi, bdo, span, br, wbr
//   =====================================================

::selection {
  background: var(--color-accent);
  text-shadow: none;
}

small,
.small,
.legal {
  font-size: var(--font-size-x-small);
}

code {
  font-family: var(--font-family-mono);
}
